.grid
{
    display: grid;
    grid-template-columns: 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px;
}

.pixel
{
    width: 10px;
    height: 10px;
    position: relative;
}

.blank
{
    background-color: white;
}

.red
{
    background-color: red;
}

.orange
{
    background-color: orange;
}

.green
{
    background-color: green;
}

.black
{
    background-color: black;
}